---
import Layout from "../layouts/Layout.astro";
import Work from "../components/work.astro";
import TopPosts from "../components/top-posts.astro";

const title = "Annukul";
---

<Layout
  {title}
  description="A software engineer, and a writer."
  image="https://avatars.githubusercontent.com/u/53966193?v=4"
>
  <div class="w-full flex justify-center text-gray-400">
    <main
      class="w-full md:w-4/6 p-2 md:p-4 h-full font-medium flex flex-col gap-8"
    >
      <div class="w-full flex gap-4">
        <img
          class="rounded-full h-16 w-16"
          src="https://avatars.githubusercontent.com/u/53966193?v=4"
          alt="Author"
        />
        <div class="flex items-center justify-center text-lg gap-2">
          <p>Annukul Thakran</p>
          <p class="text-gray-600">
            Software Engineer | Early stage startup | Innovating in SaaS product
          </p>
        </div>
      </div>
      <div class="w-full flex flex-col gap-4 text-lg">
        <div
          class="flex flex-col items-start justify-center text-base font-light gap-3"
        >
          <p class="font-normal">
            Hello! My name is <span class="font-medium text-gray-300"
              >Annukul</span
            > and I enjoy creating things that create an impact on life of people.
            My interest in programming started back in initial days of my college
            when I decided to start my <span class="font-medium text-gray-300">
              own blog on wordpress</span
            >. And later I got to know about web development and how you can
            develop your own website using <span
              class="font-medium text-gray-300">HTML, CSS, and JS.</span
            >
          </p>
          <p>
            I started my web development learning <span
              class="font-medium text-gray-300">journey</span
            > on <span class="font-medium text-gray-300">FreeCodeCamp</span>.
            And gradually I started loving what I was doing and then created
            several projects on my own.
          </p>
          <p>
            Fast-forwarding to today, I have worked with <span
              class="font-medium text-gray-300">multiple clients</span
            > in building their wep app from <span
              class="font-medium text-gray-300">scratch</span
            > and also <span class="font-medium text-gray-300"
              >re-writing old web apps</span
            >. I have also worked on several native consumer facing mobile
            applications using <span class="font-medium text-gray-300"
              >React Native</span
            >.
          </p>
          <p>
            Currently I am working in{" "}
            <span class="font-semibold text-cyan-400">Produze</span> as a{" "}
            <span class="font-semibold text-cyan-400">
              Full-stack Developer
            </span>{" "}
            where I am built the consumer facing metrics dashboard, from scratch,
            which involves handling tons of metrics data.
          </p>
        </div>
      </div>
      <div class="w-full flex flex-col gap-4 text-lg">
        <p class="text-lg text-gray-200">Technologies I work with:</p>
        <div
          class="flex flex-col items-start justify-center font-light text-base"
        >
          <div class="flex gap-12">
            <ol>
              <li>
                1.<strong> JavaScript</strong>
              </li>
              <li>
                2.<strong> React.js</strong>
              </li>
              <li>
                3.<strong> Next.js</strong>
              </li>
              <li>
                4.<strong> Typescript</strong>
              </li>
            </ol>
            <ol>
              <li>
                5.<strong> Elixir</strong>
              </li>
              <li>
                6.<strong> Postgres</strong>
              </li>
              <li>
                7.<strong> Rust</strong>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <TopPosts />
      <Work />
      <div class="w-full flex flex-col gap-4 text-lg pb-20">
        <p class="text-lg text-gray-200">Connect with me:</p>
        <div
          class="flex flex-col gap-4 items-start justify-center font-light text-base"
        >
          <div class="flex gap-2">
            <p class="font-semibold">Twitter</p>
            <a
              class="hover:underline"
              target="_blank"
              href="https://twitter.com/thakrananukul"
            >
              @thakrananukul</a
            >
          </div>
          <div class="flex gap-2">
            <p class="font-semibold">Linkedin</p>
            <a
              class="hover:underline"
              href="https://www.linkedin.com/in/annukul-thakran/"
              target="_blank"
            >
              @annukul-thakran</a
            >
          </div>
          <div class="flex gap-2">
            <p class="font-semibold">Github</p>
            <a
              class="hover:underline"
              href="https://github.com/Annukul"
              target="_blank"
            >
              @Annukul</a
            >
          </div>
          <div class="flex gap-2">
            <p class="font-semibold">Hashnode</p>
            <a
              class="hover:underline"
              href="https://hashnode.com/@annukul03"
              target="_blank"
            >
              @Annukul</a
            >
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
