---
import Layout from "../layouts/Layout.astro";
const title = "Work";
---

<Layout
  {title}
  description="A software engineer, and a writer."
  image="https://avatars.githubusercontent.com/u/53966193?v=4"
>
  <div>
    <h1 class="text-red-200">{title}</h1>
    <p class="text-red-300">Thank you for your message</p>
  </div>
</Layout>
