---
const allPosts = await Astro.glob("../content/technology/*.md");
---

<div class="w-ful flex flex-col gap-4">
  <p class="text-lg text-gray-200">
    New posts in <a
      href="/blog/technology"
      class="font-medium italic underline underline-offset-2">Technology:</a
    >
  </p>
  {
    allPosts
      .sort(
        (a, b) =>
          +new Date(b.frontmatter.pubDate) - +new Date(a.frontmatter.pubDate)
      )
      .splice(0, 5)
      .map((post) => (
        <a
          class="underline underline-offset-2 hover:text-gray-300 cursor-pointer w-fit"
          href={`blog/technology/${post.frontmatter.slug}`}
        >
          {post.frontmatter.title}
        </a>
      ))
  }
</div>
