<div class="w-ful flex flex-col gap-4">
  <p class="text-lg text-gray-200">Work experience:</p>
  <div class="w-full md:w-4/6 p-4 flex gap-2 border border-zinc-800 rounded-lg">
    <p class="font-medium">Solidity technologies</p>
    <p>-</p>
    <p class="font-light">(Dec 2021 - Feb 2023)</p>
  </div>
  <div class="w-full md:w-4/6 p-4 flex gap-2 border border-zinc-800 rounded-lg">
    <p class="font-medium">Produze</p>
    <p>-</p>
    <p class="font-light">(Feb 2023 - Present)</p>
  </div>
</div>
