---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
const { pathname } = Astro.url;
---

<html lang="en">
  <head>
    <ViewTransitions transition:animate={fade({ duration: "0.2s" })} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body>
    <div
      class="w-full flex flex-col items-center p-8 text-gray-300 max-w-container px-4"
    >
      <header class="w-[60%] flex flex-col gap-10 p-10">
        <div class="flex flex-col gap-4">
          <div class="w-full flex justify-between items-center">
            <p class="text-3xl text-gray-200">Blog</p>
            <div class="text-gray-400 flex gap-4">
              <a
                href="/blog/travel"
                class={`py-2 px-3 rounded-md cursor-pointer hover:underline underline-offset-2 ${pathname === "/blog/travel" && "bg-slate-800"}`}
                >Travel</a
              >
              <a
                href="/blog/technology"
                class={`py-2 px-3 rounded-md cursor-pointer hover:underline underline-offset-2 ${pathname === "/blog/technology" && "bg-slate-800"}`}
                >Technology</a
              >
              <a
                href="/blog/life"
                class={`py-2 px-3 rounded-md cursor-pointer hover:underline underline-offset-2 ${pathname === "/blog/life" && "bg-slate-800"}`}
                >Life</a
              >
              <a
                href="/blog/thoughts"
                class={`py-2 px-3 rounded-md cursor-pointer hover:underline underline-offset-2 ${pathname === "/blog/thoughts" && "bg-slate-800"}`}
                >Thoughts</a
              >
            </div>
          </div>
          <p class="text-gray-400 text-sm">
            I write about things I learn, things I find interesting, and things
            I want to share with the world. I hope you find something useful
            here.
          </p>
        </div>
      </header>
      <div class="w-[50%] flex flex-col justify-center">
        <slot />
      </div>
    </div>
  </body>
</html>
